<br>
<br>
<br>
<br>
<h1>
  <i class="fa fa-shopping-cart"></i>
  Sales 
</h1>


  <% @sales.each do |user| %>
  
    
    
    
    
  
   

<table style="width: 80%">
  <tr>
  <% user.payments.where(state:2).each do |payment| %>
    <th>
    <%= payment.user.first_name%>
   </th>
    <th> <%= payment.user.last_name%>
    </th>
    <th><%= payment.deal.place%>
    </th>
    <th><%= payment.check_in%>
    </th>
    <th><%= payment.check_out%>
    </th>
    <th><%= payment.quantity%>
    </th>
    <th><%= payment.user.email%></th>
    
  </tr>
   <% end -%>   
  

</table>

<%end%>    
