
<p id="notice"><%= notice %></p>

<div class="field">
  <%= image_tag @deal.pic.url(:thumb) %>
</div>

<p>
  <strong>Place:</strong>
  <%= @deal.place %>
</p>

<p>
  <strong>Description:</strong>
  <%= @deal.description.html_safe %>
</p>

<p>
  <strong>Price:</strong>
  <%= @deal.price %>
</p>

<% if !user_signed_in? %>
<%= render "payments/form", payment: Payment.new, deal: @deal %>
<% end %>


<% if user_signed_in? %>
 <% if @deal.user_already_paid? current_user.id %>
<% else %> 
  <%= render "payments/form", payment: Payment.new, deal: @deal %>
<% end %>
<% end %>

<br>
<br>
<%= link_to 'Back', deals_path %>
