
<p id="notice"><%= notice %></p>

<h1><%= @deal.place %></h1>

<div class="field">
  <%= image_tag @deal.pic.url(:thumb) %>
</div>

<p>
  <strong><%= t ".description" %>:</strong>
  <%= @deal.description %>
</p>

<p>
  <strong><%= t ".details" %>:</strong>
  <%= @deal.details %>
</p>

<p>
  <strong><%= t ".other_details" %>:</strong>
  <%= @deal.other_details %>
</p>

<p>
  <strong><%= t ".policies_and_fees" %>:</strong>
  <%= @deal.policies_and_fees %>
</p>
<p>
  <strong><%= t ".price" %>:</strong>
  <%= @deal.price %>
</p>
<p>
  <strong><%= t ".category" %>:</strong>
  <%= @deal.category %>
</p>

<% if !user_signed_in? %>
<%= render "payments/form", payment: Payment.new, deal: @deal %>
<% end %>


<% if user_signed_in? %>
 <% if @deal.user_already_paid? current_user.id %>
<% else %> 
  <%= render "payments/form", payment: Payment.new, deal: @deal %>
<% end %>
<% end %>
<div class="field">
	<h3><%= t ".questions" %></h3>
	<ul>
    <% @deal.questions.each do |question| %>
    <li>
    <%= question.body %>
    </li>
  <% end %>
  </ul>
<%= render "questions/form" %>
</div>
<br>
<br>
<%= link_to 'Back', deals_path %>
