
<%= form_for(payment) do |f| %>
	<% if payment.errors.any? %>
		<<h2><%= pruralize(payment.errors.count, "error")%> avoid it your purchase to success</h2>
	<%end%>

	<%= f.hidden_field :deal_id, value: deal.id %>

<div class="field">
    <strong><%= t ".travellers" %></strong>
    <%= f.select :quantity, options_for_select(1..12) %>
</div>

<div class="field">
    <strong><%= t ".check_in" %></strong>
    <%= f.date_select :check_in %>
</div>

<div class="field">
    <strong><%= t ".check_out" %></strong>
    <%= f.date_select :check_out %> 
</div>
<br>
<br>
<div class="actions">
    <%= f.submit %>
</div>

<%end%>
  
