<% running_total = 0 %>
<h1>My Cart</h1>
<% @payments.each do |payment| %>
<br>
<h4><%= payment.deal.place%></h4>
<div>
	<strong>Travellers: </strong>
 	<%= payment.quantity %>	
	
</div>
<div>
	<strong>Check In: </strong>
 	<%= payment.check_in %>	
	
</div>
<div>
	<strong>Check Out: </strong> 
	<%= payment.check_out %>
	
</div>

<div class="text-right">
	<h4><%= "$#{payment.deal.price * payment.quantity}USD" unless payment.deal.price.nil? %></h4>		
</div>

<div class="text-center" data-no-turbolinks>
	<%= link_to(@route, method: :delete, class: "btn btn-danger") do %>
		<i class="fa fa-money"></i> Remove
<% running_total = running_total + (payment.deal.price * payment.quantity) %>
<%end%>
	
	
</div>

<%end%> 

<div class="text-right">
	<h3>Total: $<%= running_total %>USD</h3>
</div>

<div class="text-center" data-no-turbolinks>
	<%= link_to(payments_express_path, class: "btn btn-success btn-lg") do %>
		<i class="fa fa-money"></i> Pay

	<%end%>


