
<p id="notice"><%= notice %></p>
<div id="container">
  <div id="destine">
     <h1>
        <span class="bx"> 
          <span class="tx"><%= @destination.place%></span>
        </span>
      </h1>
  </div> <!-- destine -->

  <div class="field destineimg">
      <%= image_tag @destination.cover.url(:thumb) %>
  </div>


<div id="tabs">
  <ul>
    <li><a href="#tabs-1"><%= t ".why_go" %></a></li>
    <li><a href="#tabs-2"><%= t ".to_do" %></a></li>
    <li><a href="#tabs-3"><%= t ".sights" %></a></li>
    <li><a href="#tabs-4"><%= t ".festivals" %></a></li>
    <li><a href="#tabs-5"><%= t ".sleep" %></a></li>
    <li><a href="#tabs-6"><%= t ".eat" %></a></li>
    <li><a href="#tabs-7"><%= t ".drink" %></a></li>
    <li><a href="#tabs-8"><%= t ".shop" %></a></li>
    <li><a href="#tabs-9"><%= t ".sightseeing" %></a></li>
    <li><a href="#tabs-10"><%= t ".filter" %></a></li>
  </ul>
  <div id="tabs-1">
    <%= @destination.why_go.html_safe  %>
  </div>
  <div id="tabs-2">
    <%= @destination.to_do.html_safe %>
  </div>
  <div id="tabs-3">
    <%= @destination.sights.html_safe %>
  </div>
  <div id="tabs-4">
      <%= @destination.festivals.html_safe %>
  </div>
  <div id="tabs-5">
     <%= @destination.sleep.html_safe %>
  </div>
  <div id="tabs-6">
    <%= @destination.eat.html_safe %>
  </div>
  <div id="tabs-7">
    <%= @destination.drink.html_safe %>
  </div>
  <div id="tabs-8">
    <%= @destination.shop.html_safe %>
  </div>
  <div id="tabs-9">
    <%= @destination.around.html_safe %>
  </div>
  <div id="tabs-10">
    <%= @destination.filter %>
  </div>

</div> <!-- end of tabs -->

<div class="field">
  <h1><%= t ".HotDeals" %></h1>
</div>

<% @destination.deals.each do |deal| %>
  <h3><%= link_to deal.place, deal %></h3>

<% end -%>
<div class="fiedl">
  <h3><%= t ".Comments" %></h3>

<ul>
    <% @destination.comments.each do |comment| %>
    <li>
    <%= comment.body %>
    </li>
  <% end %>
  </ul>
  <%= render "comments/form" %>
</div>
<script>
    $( function() {
    $( "#tabs" ).tabs();
  } );

</script>

<%= link_to 'Edit', edit_destination_path(@destination) %> |
<%= link_to 'Back', destinations_path %>


