
<div class="container-fluid">
	<p id="notice"><%= notice %></p>

	<h1><%= @region.name %></h1>

	<div class="row">
	     <%= render @region.destinations %>  
	</div>


	<%= link_to 'Edit', edit_region_path(@region) %> |
	<%= link_to 'Back', regions_path %>
</div>

       
