
<!DOCTYPE html>
<html>
  <head>
    <title>RupGo10</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'on' %>
  
  </head>

  
        <%= render "partials/navigation" %>
  
  
    <% if notice %>
      
      <div class="notice alert alert-success"><h4><%= notice %></h4></div>
      
    <%end%>
     
         <% if alert %>
      <div class="alert alert alert-info"><h4><%= alert %></h4></div>
    <%end%>
   
   
   
      <%= yield %>
</html>